body {
	width: 100%;
	height: 1300px;
	background-color: black;
}

#website {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 990px;
    height: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /*box-shadow: 8px 8px 8px -8px black, -8px 8px 8px -8px black;*/
    box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}


/*----- Tabs -----*/
.tabs {
	width: 670px;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:right;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:0px 0px 5px 5px;
    background: #3B2440;
    font-size:16px;
    color:white;
    transition:all linear 0.15s;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

.tab-links a:hover {
    background: #633D6B;
    text-decoration:none;
}

.tab-links li.active a, .tab-links li.active a:hover {
    background: #F2F2F2;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    font-size: 20;
    height: auto;
}

.tab-content h1 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 70;
    margin: 0;
    padding-bottom: 20px;
}

#najboljse_ocenjeni_filmi h2, #najvec_gledani_filmi h2
{
	font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 35;
    background-color: rgba(0, 0, 0, 0.14);
}

.tab {

    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display:none;
    text-align: center;
    font-size: 20;
   
}

.tab.active {
    display:block;
}

/* --- search opcije --- */

.search-opt li {
    /*list-style: square;*/
    list-style-image: url('li_arrow.png');
    padding-top: 20px;
    border-radius: 20px;
    /*margin-left: 50px;*/
}

.search-opt a {
    text-decoration: none;
    color: black;
}

.opt {
    text-align: center;
    display:none;
    padding: 20;
}

.opt.active {
    display:block;
}

.search-opt li.active {
    background-color: #F2F2F2;
}

.search-opt {
    margin: 10px;
    text-align: left;
    text-indent: 10px;
    
}

#browsecateg {
    margin-left: 15%;
    text-align: left;
}

#namesearch input, #advancedsearch input
{
    width: 70%;
    height: 30;
    margin-bottom: 20px;
}

#search {
    width: 500px;
}

::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
}
#userName::-webkit-input-placeholder, #userPass::-webkit-input-placeholder {
    text-align: left;
    font-style: normal;
    padding: 0;
    margin: 0;
}

#registriraj, #loginButton, #back_to_list_button, #back_to_start_button, #watched_button, #watched_button_p, #back_to_genre_button, #back_to_genre
{
    margin-top: 15px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

#film_list a{
	margin-left: 30px;	 
	font-size: 16px;
	
}

#tabelaR{
    margin: 0 auto;
    font-size: 18px;
}

#userLogin
{
	padding-left: 50px;
    padding-right: 50px;
}

.inputField {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

#userName, #userPass
{
	width:70%;
	padding: 8px;
    margin: 10px;
}

#content
{
    position: absolute;
    width: 75%;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    padding: 10px;
}

#banner
{
    width: 990px;
    height: 180px;
    float: left;
    background-image: url("ferimdb_banner.png");
    margin-top: 0;
}

#navigation
{
    position: absolute;
    width: 20%;
    height: auto;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#container
{
    margin-top: 2%;
    position: relative;
    height: 55%;
    width: 100%;
    border-style: none;
}
 
#user_profile, #banner, #footer
{
    width:990px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body
{
    /*background-image: url("background.png");*/
    background-color: white;
    
}

#nav a
{
    text-decoration: none;
    font-weight: bold;
    color: #3B2440;
}

#nav a:hover 
{
    color: #633D6B;
}

#footer
{
    width: 990px;
    height: 70px;
    border-style: solid;
    border-radius: 5px;
    background-image: url("ferimdb_footer.png");
    position: fixed;
    bottom: 0;
    margin-top: 10;
}

#film_details
{
    text-align: left;
    margin-left: 20;
    margin-right: 20;
}

#film_details h3
{
	
	font-style: italic;
	font-size: 20px;
}
#summary
{
	font-size: 16;
	margin-top: 50px;
}

#best_film_table
{
	float: left;	
}

#vpisan_film h4
{
	font-family: 'Poiret One', cursive;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

#best_film_table
{
    /*border: solid black 2px*/
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 5px;
    width: auto;
    vertical-align: top;
}

#most_watched_table
{
    /*border: solid black 2px*/
    border-collapse: collapse;
    margin-top: 10px;
    margin-right: 5px;
    float: right;
    width: auto;
    vertical-align: top;
}

#film_list_table
{
	border-collapse: collapse;
	margin: 20px;
	margin-right: 0;
	width: 370px;
	float: left;
}

#best_film_table td, #most_watched_table td
{
    padding: 4px;
    text-align: center;
    width: 140px;
    vertical-align: top;
}

#film_list_table td, #film_prikaz_table td
{

    text-align: center;
    width: 116px;
    height: 165px;
    vertical-align: middle;
    
}

#user_profile
{
    border-style: none;
}

#back_to_list_button, #back_to_start_button, #watched_button, #watched_button_p, #back_to_genre_button, #back_to_genre
{
    width: 100px;
    font-size: 16px;
    height: 30px;
    margin: 0;
}

#watched_button, #watched_button_p, #ocenjeno
{
	float: right;
}

#ocena_filma, #ocena_filma_p
{
    float: right;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fb-share-button{
    margin-top: 20px;
}

#sporedKino{
    text-align: center;
    marin: 0 auto;
}

#kinoSpored{
    margin: 0 auto;
}

.starIMG
{
    height: 25px;
    width: 25px;
}

.pressedB
{
    background-color: #E8E8E8;
}

.centerK{
    text-align: center;
    padding: 10px;
}

#vpisan_film, #film_prikaz
{
    text-align: center;
    margin-left: 0px;
    width: auto;
}

#footer
{   
    margin-left: auto;
    margin-right: auto;
}



#najboljse_ocenjeni_filmi {
	width: 160px;
	float: left;
	background-color: #cfe2cc;
	border-radius:0px 20px 20px 0px;
	padding-bottom: 10px;
} 

#najvec_gledani_filmi {
	
	width: 160px;
	float: right;
	background-color: #cfe2cc;
	border-radius:20px 0px 0px 20px;
	padding-bottom: 10px;
} 

#watched_button_p
{
	margin-right: 10px;	
}

.search-result-opt
{
	margin-left: 0px;
	width: 440px;
}

.search-result-opt li
{
	text-align: left;
	list-style-image: url("li-arrow2.png");
	text-indent: 0;
	padding: 5px;
	font-size: 16px;
	border-radius: 0;
	margin-bottom: 5px;
}

.search-result-opt li:nth-child(even) 
{
	background-color: white;
}
.search-result-opt li:nth-child(odd) 
{
	background-color: rgba(255, 255, 255, 0.24);
}

.poster_thumbnail
{
	width: 140px;
	height: 200px;
	box-shadow: 0px 0px 5px black;
}

.poster_thumbnail_small
{
	width: 105px;
	height: 150px;
	box-shadow: 5px 5px 5px #888888;
}

.poster_thumbnail_small:hover
{
	border: 2px solid #715587;

}

#poster 
{
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#kanal th, #spored_prikaz th
{
	background-color: #F5F5F5;
	border-radius: 5px;
	font-size: 18px;
}

#kanal td, #spored_prikaz td
{
	font-size: 17px;
	text-align:center;
}

#kanal, #spored_prikaz
{
	width:100%;
	text-align:center; 
	border-spacing:10;
}

.sporedTV
{
	font-size:20px;
	text-align:center;
}

.btn 
{
	background: #c6cbd1;
	background-image: -webkit-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: -moz-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: -ms-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: -o-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: linear-gradient(to bottom, #c6cbd1, #e7edf0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: "Arimo", sans-serif;
	color: black;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-weight: bold;
}

.btn:hover 
{
	background: #eff0f2;
	background-image: -webkit-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: -moz-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: -ms-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: -o-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: linear-gradient(to bottom, #eff0f2, #c6cbd1);
	text-decoration: none;
}

#film_profile
{
	border-color: #F2F2F2;
	border-radius: 30px;
	border-style: solid;
	width: 500px;
}

.thumbs {
	width: 18px;
	/*height: 18px;*/
}

#film_list {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.14);*/
}

.smallTxt{
	font-size: 10px;
	margin-top: auto;
}

#summary
{
	text-align: center;	
}

.predlog_arrow
{
	width: 50px;
	height: 50px;
}

#inner_data
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-indent: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
	background-color: gray;
}

div#film_list_data{
	width: 100%;
	display: inline-block;
	height: auto;
	/*
	border-radius: 30px;
	border: 2px solid rgba(0, 0, 0, 0.1);*/
}

div#okvir_list
{
	width: 180px;
	text-align: left;
	float: right;
	
	margin-right: 28px;
	margin-top: 20px;
	font-size: 16px;
	height: auto;
	padding-left: 10px;
	background-color: #e9e9e9;
}


#slo_naslov_d
{
	font-size: 20px;
	padding: 10px;
	padding-left: 0;
	text-align: center;
	color: #1e206b;
	font-weight: bold;
	

}

#ang_naslov_d
{
	font-style: italic;
	text-align: center;
	padding-bottom: 3px;
	
}

#pod_div
{
	padding: 20px;
	text-align: left;
}

#tomatoscore_d, #audience_d{
	padding: 5px;
	padding-bottom: 0;
}

#spored_d{
	text-align: center;
	padding: 10px;
}

#inline_elements
{
	display: inline;
}

#details_div
{
	background-color: #efefef;
	border-radius: 10px;
	width: 220px;
	padding: 5px;
	
}

#naslov_div {
	font-weight: bold;
	margin-left: 0;
}

#ocenaRT{
	background-image: url('tomato.png');
	background-repeat: no-repeat;
	width: 60px;
	height: 62px;
	text-align: center;
	font-weight: bold;
	float: left;
}

#ocenaAU{
	background-image: url('audience.png');
	background-repeat: no-repeat;
	width: 100px;
	height: 60px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 25px;
	float: right;
	margin-right: 10px;
}

.oc_span1{
	position: relative;
	top: 22;
}
.oc_span2{
	position: relative;
	top: 14;
}

#blockDiv{
	display: block;
}

