body {
    font-family: 'Open Sans', sans-serif;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:right;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:0px 0px 5px 5px;
    background: #3B2440;
    font-size:16px;
    color:white;
    transition:all linear 0.15s;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

.tab-links a:hover {
    background: #633D6B;
    text-decoration:none;
}

.tab-links li.active a, .tab-links li.active a:hover {
    background: #F2F2F2;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;

    font-size: 20;
}

.tab-content h1 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 70;
}

#najboljse_ocenjeni_filmi h2 
{
	font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 35;
}

.tab {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display:none;
    text-align: center;
    font-size: 20;
}

.tab.active {
    display:block;
}

/* --- search opcije --- */

.search-opt li {
    /*list-style: square;*/
    list-style-image: url('li_arrow.png');
    padding-bottom: 20;
    border-radius: 20px;
    margin-right: 40px;
}

.search-opt a {
    text-decoration: none;
    color: black;
}

.opt {
    text-align: center;
    display:none;
    padding: 20;
}

.opt.active {
    display:block;
}

.search-opt li.active {
    background-color: #F2F2F2;
}

.search-opt {
    margin: 10px;
    text-align: left;
    text-indent: 10px;
}

#browsecateg {
    margin-left: 15%;
    text-align: left;
}

#namesearch input, #advancedsearch input
{
    width: 70%;
    height: 30;
}

#search {
    width: 500px;
}

::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
}

#registriraj, #loginButton, #back_to_list_button, #back_to_start_button, #watched_button, #watched_button_p, #back_to_genre_button, #back_to_genre, #back_to_list_button1
{
    margin-top: 15px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

#tabelaR{
    margin: 0 auto;
    font-size: 18px;
}

#userLogin
{
	padding-left: 50px;
    padding-right: 50px;
}

.inputField {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

#userName, #userPass
{
	width:70%;
	padding: 8px;
    margin: 10px;
}

#content
{
    position: absolute;
    width: 75%;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    padding: 10px;
}

#banner
{
    width: 990px;
    height: 180px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    background-image: url("ferimdb_banner.png");
}

#navigation
{
    position: absolute;
    width: 20%;
    height: auto;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#container
{
    margin-top: 2%;
    position: relative;
    height: 55%;
    width: 100%;
    border-style: none;
}
 
#user_profile, #banner, #footer
{
    width:990px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body
{
    /*background-image: url("background.png");*/
    background-color:rgba(0, 0, 0, 0.13);
}

#nav a
{
    text-decoration: none;
    font-weight: bold;
    color: #3B2440;
}

#nav a:hover 
{
    color: #633D6B;
}

#footer
{
    width: 990px;
    height: 70px;
    border-style: solid;
    border-radius: 5px;
    background-image: url("ferimdb_footer.png");
    position: fixed;
    bottom: 0;
    margin-top: 10;
}

#film_details
{
    text-align: left;
    margin-left: 20;
    margin-right: 20;
}

#film_details1
{
    text-align: left;
    margin-left: 20;
    margin-right: 20;
}

#summary
{
	font-size: 16;
}

#film_list_table, #best_film_table, #film_prikaz_table
{
    border: solid black 2px;
    border-collapse: collapse;
    margin: 10px;
    width: auto;
}

#film_list_table td, #best_film_table td, #film_prikaz_table td
{
    border: solid darkgray 2px;
    padding: 2px;
    text-align: center;
}

#filmi
{
	margin-top: 30px;
    margin-left: 70px;
}

td#filmi 
{
	padding: 6px;
    text-align: center;
}

#user_profile
{
    border-style: none;
}

#back_to_list_button, #back_to_start_button, #watched_button, #watched_button_p, #back_to_genre_button, #back_to_genre, #back_to_list_button1
{
    width: 100px;
    font-size: 16px;
    height: 30px;
    margin: 0;
}

#watched_button, #watched_button_p
{
	float: right;
}

#ocena_filma, #ocena_filma_p
{
    float: right;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.starIMG
{
    height: 25px;
    width: 25px;
}

.pressedB
{
    background-color: #E8E8E8;
}

#vpisan_film
{
    text-align: left;
    margin-left: 20px;
}

#best_film_table, #footer
{   
    margin-left: auto;
    margin-right: auto;
}

#best_film_table td, #najboljse_ocenjeni_filmi
{
	text-align: center;
}

#watched_button_p
{
	margin-right: 10px;	
}