body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:right;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:0px 0px 5px 5px;
    background: #3B2440;
    font-size:16px;
    color:white;
    transition:all linear 0.15s;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

.tab-links a:hover {
    background: #633D6B;
    text-decoration:none;
}

.tab-links li.active a, .tab-links li.active a:hover {
    background: #F2F2F2;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    font-size: 20;
    height: auto;
}

.tab-content h1 {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 70;
    margin: 0;
}

#najboljse_ocenjeni_filmi h2, #najvec_gledani_filmi h2
{
	font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 35;
}

.tab {
    border-style: hidden;
    border-width: 2.5px;
    border-radius: 5px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display:none;
    text-align: center;
    font-size: 20;
   
}

.tab.active {
    display:block;
}

/* --- search opcije --- */

.search-opt li {
    /*list-style: square;*/
    list-style-image: url('li_arrow.png');
    padding-top: 20px;
    border-radius: 20px;
    margin-left: 50px;
}

.search-opt a {
    text-decoration: none;
    color: black;
}

.opt {
    text-align: center;
    display:none;
    padding: 20;
}

.opt.active {
    display:block;
}

.search-opt li.active {
    background-color: #F2F2F2;
}

.search-opt {
    margin: 10px;
    text-align: left;
    text-indent: 10px;
    
}

#browsecateg {
    margin-left: 15%;
    text-align: left;
}

#namesearch input, #advancedsearch input
{
    width: 70%;
    height: 30;
    margin-bottom: 20px;
}

#search {
    width: 500px;
}

::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
}

#registriraj, #loginButton, #back_to_list_button, #back_to_start_button, #watched_button, #watched_button_p, #back_to_genre_button, #back_to_genre
{
    margin-top: 15px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 170;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

#tabelaR{
    margin: 0 auto;
    font-size: 18px;
}

#userLogin
{
	padding-left: 50px;
    padding-right: 50px;
}

.inputField {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

#userName, #userPass
{
	width:70%;
	padding: 8px;
    margin: 10px;
}

#content
{
    position: absolute;
    width: 75%;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    padding: 10px;
}

#banner
{
    width: 990px;
    height: 180px;
    border-style: hidden;
    border-width: 2.5px;
    border-radius: 5px;
    background-image: url("ferimdb_banner.png");
}

#navigation
{
    position: absolute;
    width: 20%;
    height: auto;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#container
{
    margin-top: 2%;
    position: relative;
    height: 55%;
    width: 100%;
    border-style: none;
}
 
#user_profile, #banner, #footer
{
    width:990px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body
{
    /*background-image: url("background.png");*/
    background-color: white;
    
}

#nav a
{
    text-decoration: none;
    font-weight: bold;
    color: #3B2440;
}

#nav a:hover 
{
    color: #633D6B;
}

#footer
{
    width: 990px;
    height: 70px;
    border-style: solid;
    border-radius: 5px;
    background-image: url("ferimdb_footer.png");
    position: fixed;
    bottom: 0;
    margin-top: 10;
}

#film_details
{
    text-align: left;
    margin-left: 20;
    margin-right: 20;
}

#summary
{
	font-size: 16;
}

#best_film_table
{
	float: left;	
}

#film_list_table, #best_film_table, #film_prikaz_table, #most_watched_table
{
    border: solid black 2px;
    border-collapse: collapse;
    margin: 10px;
    width: auto;
}

#film_list_table td, #best_film_table td, #film_prikaz_table td, #most_watched_table td
{
    border: solid darkgray 2px;
    padding: 2px;
    text-align: center;
    width: 140px;
}

#filmi
{
	margin-top: 30px;
    margin-left: 70px;
}

td#filmi 
{
	padding: 6px;
    text-align: center;
}

#user_profile
{
    border-style: none;
}

#back_to_list_button, #back_to_start_button, #watched_button, #watched_button_p, #back_to_genre_button, #back_to_genre
{
    width: 100px;
    font-size: 16px;
    height: 30px;
    margin: 0;
}

#watched_button, #watched_button_p
{
	float: right;
}

#ocena_filma, #ocena_filma_p
{
    float: right;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.starIMG
{
    height: 25px;
    width: 25px;
}

.pressedB
{
    background-color: #E8E8E8;
}

#vpisan_film, #film_prikaz
{
    text-align: left;
    margin-left: 20px;
}

#footer
{   
    margin-left: auto;
    margin-right: auto;
}

#best_film_table td, #most_watched_table td
{
	text-align: center;
}

#najboljse_ocenjeni_filmi {
	
	position: absolute;
	left: 20px;
	top: 250px;
} 

#najvec_gledani_filmi {
	
	position: absolute;
	right: 20px;
	top: 250px;
	
} 

.tab-links {
	background: linear-gradient( #e4e2e6, white);
}

#watched_button_p
{
	margin-right: 10px;	
}

.search-result-opt li
{
	text-align: left;
	list-style-image: url("li-arrow2.png");
	text-indent: 0;
	padding: 10px;
}

.poster_thumbnail
{
	width: 140px;
	height: 200px;
	position: relative;
	top: 0;
	margin-top: 0;
	padding-top: 0;
}

#poster 
{
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#kanal th, #spored_prikaz th
{
	background-color: #F5F5F5;
	border-radius: 5px;
	font-size: 18px;
}

#kanal td, #spored_prikaz td
{
	font-size: 17px;
	text-align:center;
}

#kanal, #spored_prikaz
{
	width:100%;
	text-align:center; 
	border-spacing:10;
}

.sporedTV
{
	font-size:20px;
	text-align:center;
}

.btn 
{
	background: #c6cbd1;
	background-image: -webkit-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: -moz-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: -ms-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: -o-linear-gradient(top, #c6cbd1, #e7edf0);
	background-image: linear-gradient(to bottom, #c6cbd1, #e7edf0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial;
	color: black;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-weight: bold;
}

.btn:hover 
{
	background: #eff0f2;
	background-image: -webkit-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: -moz-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: -ms-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: -o-linear-gradient(top, #eff0f2, #c6cbd1);
	background-image: linear-gradient(to bottom, #eff0f2, #c6cbd1);
	text-decoration: none;
}

#film_profile
{
	border-color: gray;
	border-radius: 30px;
	border-style: solid;
}

.thumbs {
	width: 18px;
	height: 18px;
}
